* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: white;
}

#nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#nav h3 {
  font-size: 17px;
  font-weight: 500;
  border: solid 1.5px black;
  border-radius: 50px;
  padding: 5px 10px;
}

#nav i {
  font-size: 21px;
  font-weight: 500;
  border: solid 1.5px black;
  border-radius: 50px;
  padding: 5px 8px;
}

#nav h1 {
  font-weight: 600;
  font-size: 37px;
}

#nav button {
  padding: 7px 12px;
  border-radius: 50px;
  border: 1.5px solid black;
  font-size: 16px;
  font-weight: 500;
}

#log_in {
  background-color: white;
}

#sign_up {
  background-color: orangered;
  color: white;
}

#main > h1 {
  font-size: 160px;
  font-weight: 570;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

img {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 50%;
  left: 50%;
}

.image1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}

.image2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}

.image3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}

.image4 {
  transform: translate(-50%, -50%);
}

#btm-left {
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 17px;
}

#btm-right {
  position: absolute;
  bottom: 5%;
  right: 3%;
  font-size: 17px;
}

#social_media {
  display: flex;
  justify-content: space-around;
}

#social_media i {
  font-size: 25px;
}
